@CHARSET "ISO-8859-1";

body {
    background-color: #F7FFCC;
    color: #003300;
    font-family: sans-serif;
}
input, select {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-top: 0.2em;
}