body {
	background-color: #FFF8DC;
	color: black;
	font-family: sans-serif;
	text-align: center;
}

.fullwidth {
	width: 100%;
}

dd,dt {
	margin-left: 5;
}

dt {
	margin-top: 1.5em;
}

dd {
	font-weight: bold;
}

table tr.even{
	background-color: #CCCCCC;
	font-size: 0.85em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

table tr.oneven {
	background-color: #F4F4F4;
	font-size: 0.85em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

label span, .fout {
	background-color: red;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
}

label span:empty, .fout:empty {
	display: none;
}

label span {
	margin-left: 0.5em;
}

label {
	cursor: pointer;
}

section.boldsmall{
font-size:small;
font-weight:bold;
color:#194775;
}

input {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1.1em;
}

input:focus,textarea:focus,select:focus {
	background-color: white
}

input[type='checkbox'] {
	display: inline;
}

#header {
    background-color:black;
    color:#FFF8DC;
    text-align:center;
    padding:5px;
}

form { margin: 0 auto; }

nav ul {
	background-color: #FFF8DC;
	padding: 0.4em 0;
}

nav li {
	display: inline;
}

nav li a {
	color: black;
	font-weight: bold;
	padding-left: 0.5em;
	text-decoration: none;
	vertical-align: middle;
}

nav li a:hover {
	color: black;
}
