<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winkelwagen</title>
	</head>
	<body>
		<div th:include="fragments/menu :: menu"></div>
		<h1>Winkelwagen</h1>
		<ul>
			<li th:each="lijn : ${lijnen}" th:text="${lijn}"></li>
		</ul>
		<form th:action="@{/winkelwagen/bevestiging}" th:object="${klantForm}" method="post">
			<label>Naam<input type="text" th:field="*{naam}" /></label>
			<label>Straat<input type="text" th:field="*{straat}" /></label>
			<label>Huisnummer<input type="text" th:field="*{huisNr}" /></label>
			<label>Postcode<input type="number" th:field="*{postcode}" /></label>
			<label>Gemeente<input type="text" th:field="*{gemeente}" /></label>
			<input type="submit" value="Als bestelbon bevestigen" />
		</form>
	</body>
</html>