<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Winkelwagen</title>
		<th:block th:include="fragments/links :: links"></th:block>
	</head>
	<body onload="som()">
		<div th:include="fragments/menu :: menu"></div>
		<h1>Winkelwagen</h1>
		<table>
			<tr>
				<th>Bier</th>
				<th>Prijs</th>
				<th>Aantal</th>
				<th>Te betalen</th>
			</tr>
			<tr th:each="lijn : ${lijnen}">
				<td th:text="${lijn.bier.naam}"></td>
				<td th:text="${lijn.prijs}"></td>
				<td th:text="${lijn.aantal}"></td>
				<td class="part" th:text="${lijn.aantal}*${lijn.prijs}"></td>
			</tr>
			<tr>
				<td colspan="2"></td>
				<td>totaal:</td>
				<td id="total"></td>
			</tr>
		</table>
		<form th:action="@{/winkelwagen/bevestiging}" th:object="${klantForm}" method="post">
			<label>Naam<input type="text" th:field="*{naam}" autofocus="autofocus" required="required"/>
			<span th:if="${#fields.hasErrors('naam')}" th:errors="*{naam}"></span></label>
			<label>Straat<input type="text" th:field="*{straat}" required="required"/>
			<span th:if="${#fields.hasErrors('straat')}" th:errors="*{straat}"></span></label>
			<label>Huisnummer<input type="text" th:field="*{huisNr}" required="required"/>
			<span th:if="${#fields.hasErrors('huisNr')}" th:errors="*{huisNr}"></span></label>
			<label>Postcode<input type="number" th:field="*{postcode}" min="1000" max="9999"/>
			<span th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"></span></label>
			<label>Gemeente<input type="text" th:field="*{gemeente}" required="required"/>
			<span th:if="${#fields.hasErrors('gemeente')}" th:errors="*{gemeente}"></span></label>
			<input type="submit" value="Als bestelbon bevestigen" />
		</form>
		<script th:inline="javascript">
		/*<![CDATA[*/
			function som(){
				var resultaat = 0,
 				nodeList = document.getElementsByClassName("part"),
 				lengte = nodeList.length;
				for (var i = 0; i < lengte; i++){
					resultaat += parseInt(nodeList[i].innerHTML);
				}
				document.getElementById("total").innerHTML = resultaat;
			}
			/*]]>*/
		</script>
	</body>
</html>